<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changement de mot de passe - NayxusStock</title>
</head>

<body>
    <div style="text-align: center; margin-top: 50px;">
        <h2>Changer votre mot de passe</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Changer le mot de passe</button>
        </form>
    </div>
</body>

</html>